{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui text container">
      <br>
      <h1>Bread & Roses</h1>
      <br>
        <p>
          Bread & Roses Community Fund believes in change, not charity. We organize donors at all levels to support community-based groups in building movements for racial equity and economic opportunity. We support movements and their leaders through fundraising, grantmaking, capacity building, and convening.
        </p>
        <br>
        <p>
          We believe that a better world is possible. Since 1977 Bread & Roses has inspired people to take collective action and create real change in their communities, the Philadelphia region, and beyond. We raise money through donations of all sizes and make grants using a democratic, community-led decision-making process. Our grants support local groups working for good schools, fewer prisons, better jobs, a safe environment, quality health care, and more.
        </p>
        <br>
        <p>
          We believe that the people in the best position to create real change are those who are most affected by injustice and inequality. And we provide training and capacity building to build leadership among people of color, poor and working-class people, people with disabilities, women, and LGBTQ people.
        </p>
        <br>
        <p>
          We believe that real change is created by people who have the courage to stand up, the determination to join together, and the resources they need to create solutions for justice.
        </p>
        <br>
        <p>
          A note about our name: “Bread and Roses” was the rallying cry for striking textile workers in 1912 in Lawrence, Massachusetts who won overtime pay and better working conditions. The strike is now called the Bread and Roses strike, but the phrase itself comes from a poem by James Oppenheim published in 1911:
        </p>
        <br>
        <p>
          <i>
          Our lives shall not be sweated from birth until life closes.
          Hearts starve as well as bodies; give us bread, but give us roses!
          </i>
        </p>
        <div align="center">
            <a href="{{ url_for('main.interested') }}">Giving Project Interest Form</a>
        </div>
        <br>
        <br>
        <br>
    </div>
{% endblock %}
