
            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'warning': get_flashed_messages(category_filter=['form-check-email']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}
{% extends 'layouts/base.html' %}

{% import 'macros/form_macros.html' as f %}
{% block content %}
    <div class="pushable">
    <div class="ui visible sidebar vertical menu participant-menu">
        <div class="ui search item" style="background-color: #FFFFFF;">
            <div class="ui left icon input">
                <i class="search icon"></i>
                <input id="search-participants" type="text" placeholder="Search candidates">
            </div>
        </div>

        <div class="borderless item">
          <div align="center">
            <div class="ui selection dropdown select-filter" id="select-status" style="width: 250px;">
                <input type="hidden" name="Participant Status">
                <i class="dropdown icon"></i>
                <div class="default text">Candidate Status</div>
                <div class="menu">
                <div class="item" data-value="">All candidates</div>
                <div class="item" data-value="Pending">Pending</div>
                <div class="item" data-value="Assigned">Assigned</div>
                <div class="item" data-value="Rejected">Rejected</div>
                </div>
            </div>

            <br><br>

            <div class="ui selection dropdown select-filter" id="select-term" style="width: 250px;">
                <input type="hidden" name="Participant Term">
                <i class="dropdown icon"></i>
                <div class="default text">Candidate Term</div>
                <div class="menu">
                <div class="item" data-value="">All terms</div>
                {% for t in terms %}
                    <div class="item" data-value="{{ t.name }}">{{ t.name }}</div>
                {% endfor %}
                </div>
            </div>

            <br><br><br>

            <div align="left" style="margin-left: 8px; font-family: Open Sans"><strong>Demographics:</strong></div> <br>
            {% for name, list in demographics.items() %}
                <div class="ui selection dropdown select-filter" id="select-{{name}}" style="width: 250px;">
                <input type="hidden" name="Donor {{name}}">
                <i class="dropdown icon"></i>
                <div class="default text">{{ name }}</div>
                <div class="menu">
                    <div class="item" data-value="">All</div>
                    {% for d in list %}
                    <div class="item" data-value="{{ d }}">{{ d }}</div>
                    {% endfor %}
                </div>
                </div>
                <br><br>
            {% endfor %}
            </div>
        </div>
    </div>

    <br>

        <div class="participant-content" style="margin-right: 20px; margin-left: 320px;">
            <div align="right">
            <a class="ui button" style="color: #cf0a2c; font-family: Open Sans">
                Demographics
            </a>
            <a href="{{ url_for('admin.new_candidate') }}" class="ui button" style="background-color: #cf0a2c;">
                <div style="text-align: center; font-weight: bold; color: #FFFFFF; font-family: Open Sans">
                    New Candidate +
                </div>
            </a>

            </div>
            {% for p in participants | sort(attribute='last_name') %}
                <div class="ui mini modal" id="delete-{{ p.id }}">
                    <div class="ui header">
                        Warning!
                    </div>
                    <div class="content">
                        <p>This action is irreversible! Are you sure you want to delete {{ p.first_name }} {{ p.last_name }}?</p>
                    </div>
                    <div class="actions">
                        <div class="ui blue cancel button">
                            <i class="arrow alternate circle left outline icon"></i>
                            No, cancel!
                        </div>
                        <a href="{{ url_for('admin.delete_participant', participant_id=p.id) }}">
                            <div class="ui red ok button">
                                <i class="trash alternate icon"></i>
                                Yes, delete {{ p.first_name }}
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ui small modal" id="modal-{{ p.id }}">
                    <i class="close icon"></i>
                    <div class="header">
                        {{ p.first_name }} {{ p.last_name }}
                    </div>
                    <div class="content">
                        <div><span class="bold">Email:</span> {{ p.email }}</div>
                        <div><span class="bold">Phone:</span> {{ p.phone_number }}</div>

                        <br />

                        <div><span class="bold">Status:</span>
                          {{ f.begin_form(status_forms[p.id], flashes) }}

                              {{ f.render_form_field(status_forms[p.id].participant) }}
                              {{ f.render_form_field(status_forms[p.id].status) }}

                              {% for field in status_forms[p.id] | selectattr('type', 'equalto', 'SubmitField') %}
                                  {{ f.render_form_field(field) }}
                              {% endfor %}

                          {{ f.end_form() }}
                        </div>

                        <br />

                        <div><span class="bold">Source:</span> {{ p.source }}</div>
                        <div><span class="bold">Staff contact:</span> {{ p.staff_contact }}</div>
                        <div><span class="bold">Application:</span> {{ 'Y' if p.applied else 'N' }}</div>

                        <br />

                        <div><span class="bold">Race:</span>
                            {{ p.demographic.race.name.replace('_', ' ').title() }}
                        </div>
                        <div><span class="bold">Gender:</span>
                            {{ p.demographic.gender.name.replace('_', ' ').title() }}
                        </div>
                        <div><span class="bold">Age:</span>
                            {{ p.demographic.age }}
                        </div>
                        <div><span class="bold">Sexual Orientation:</span>
                            {{ 'LGBTQ' if p.demographic.sexual_orientation.name == 'LGBTQ' else p.demographic.sexual_orientation.name.replace('_', ' ').title() }}
                        </div>
                        <div><span class="bold">Class (low, middle, upper, NA):</span>
                            {{ p.demographic.soc_class.name.replace('_', ' ').title() }}
                        </div>

                        <br />

                        <div><span class="bold">Amount donated:</span> <span style="color: green;">${{ p.amount_donated }}</span></div>

                        <br />

                        <div><span class="bold">Notes:</span><br/>
                            {{ p.notes }}
                        </div>
                    </div>
                    <div class="actions">
                        <a href="{{ url_for('admin.edit_participant', part_id=p.id) }}">
                            <div class="ui blue edit button">
                                <i class="edit icon"></i>
                                Edit
                            </div>
                        </a>
                        <div class="ui red button" onclick="$('#delete-{{ p.id }}').modal('show')">
                            <i class="remove icon"></i>
                            Delete
                        </div>
                    </div>
                </div>
                <script>$('#modal-{{ p.id }}').modal({ allowMultiple: true })</script>
                <script>$('#delete-{{ p.id }}').modal({ allowMultiple: true })</script>
                <div style="cursor: pointer;" class="ui horizontal segments" onclick="$('#modal-{{ p.id }}').modal('show')">
                    <div class="participant">
                        <div class="status" hidden>{{p.status.name}}</div>
                        <div class="partseg1">
                            {% if not p.status or p.status == Status.PENDING %}
                                <i class="dot circle outline icon" style="color: #FAC334;"></i>
                            {% elif p.status == Status.ASSIGNED %}
                                <i class="check circle outline icon" style="color: #68FF4F;"></i>
                            {% elif p.status == Status.REJECTED %}
                                <i class="times circle outline icon" style="color: #FA3434;"></i>
                            {% endif %}
                        </div>
                        <div class="partseg2">
                            <div class="partname">{{ p.first_name }} {{ p.last_name }}</div>
                            <div class="partterm term">{{ p.term.name }}</div>
                        </div>
                        <div class="partseg">
                            <div class="partinfo race">
                                {{ p.demographic.race.name.replace('_', ' ') }}
                            </div>
                        </div>
                        <div class="partseg">
                            <div class="partinfo class">
                                {{ p.demographic.soc_class.name.replace('_', ' ') }}
                            </div>
                        </div>
                        <div class="partseg">
                            <div class="partinfo age">
                                {{ p.demographic.age }} yr old
                            </div>
                        </div>
                        <div class="partseg">
                            <div class="partinfo gender">
                                {{ p.demographic.gender.name.replace('_', ' ') }}
                            </div>
                        </div>
                        <div class="partseg">
                            <div class="partinfo sexual-orientation">
                                {{ p.demographic.sexual_orientation.name.replace('_', ' ') }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
          // Hides anything with a hidden-? class and shows everything else
          const refilter = function() {
            $('.participant').closest('.segments').each(function() {
              if ($(this).is('[class*="hidden"]')) {
                  $(this).hide()
              } else {
                $(this).show()
              }
            })
          };

          // Search bar filtering (searches all info)
          $('#search-participants').keyup(function () {
              var searchText = $(this).val();
              if (searchText.length > 0) {
                $('.participant:icontains(' + searchText + ')').closest('.segments').removeClass('hidden-search')
                $('.participant').not(':icontains(' + searchText + ')').closest('.segments').addClass('hidden-search')
              } else {
                $('.participant').closest('.segments').removeClass('hidden-search')
              }
              refilter();
          });

          // Dropdown filtering
          const filters ={'status':'#select-status', 'term':'#select-term', 'race':'#select-Race', 'gender':'#select-Gender', 'class':'#select-Class', 'sexual-orientation':'[id="select-Sexual Orientation"]'}
          $.each(filters,function(name, filter) {
            $(filter).dropdown({
                onChange: function (value, text, $selectedItem) {
                  $('.participant').closest('.segments').find('.'+name).each(function(){
                      let text = $.trim($(this).text())
                      if (text.toLowerCase() === value.toLowerCase() || value.length === 0) {
                        $(this).closest('.segments').removeClass('hidden-'+name)
                      } else {
                        $(this).closest('.segments').addClass('hidden-'+name)
                      }
                    })
                  refilter();
                }
              });
            });
          });


    </script>
{% endblock %}
