
{% extends 'layouts/base.html' %}

{% block content %}
    <div class="pushable">
    <div class="ui visible sidebar vertical menu participant-menu">
        <div class="ui search item" style="background-color: #67A7FD;">
            <div class="ui left icon input">
                <i class="search icon"></i>
                <input id="search-participants" type="text" placeholder="Search participants">
            </div>
        </div>

        <a href="{{ url_for('admin.new_candidate') }}" class="item" style="text-align: center; font-weight: bold; color: #2681FC;">
            New Participant +
        </a>
    </div>

        <div class="ui main menu participant-header" style="margin-top:6px">
            <div class="right menu">
                <a class="item" style="color: #67A7FD">
                    Demographics
                </a>
            </div>
        </div>
        <div class="participant-content" style="margin-right: 20px; margin-left: 320px;">
            {% for p in participants | sort(attribute='last_name') %}
                <div class="ui mini modal" id="delete-{{ p.id }}">
                    <div class="ui header">
                        Warning!
                    </div>
                    <div class="content">
                        <p>This action is irreversible! Are you sure you want to delete {{ p.first_name }} {{ p.last_name }}?</p>
                    </div>
                    <div class="actions">
                        <div class="ui blue cancel button">
                            <i class="arrow alternate circle left outline icon"></i>
                            No, cancel!
                        </div>
                        <a href="{{ url_for('admin.delete_participant', participant_id=p.id) }}">
                            <div class="ui red ok button">
                                <i class="trash alternate icon"></i>
                                Yes, delete {{ p.first_name }}
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ui small modal" id="modal-{{ p.id }}">
                    <i class="close icon"></i>
                    <div class="header">
                        {{ p.first_name }} {{ p.last_name }}
                    </div>
                    <div class="content">
                        <div><span class="bold">Email:</span> {{ p.email }}</div>
                        <div><span class="bold">Phone:</span> {{ p.phone_number }}</div>

                        <br />

                        <div><span class="bold">Source:</span> {{ p.source }}</div>
                        <div><span class="bold">Staff contact:</span> {{ p.staff_contact }}</div>
                        <div><span class="bold">Application:</span> {{ 'Y' if p.applied else 'N' }}</div>

                        <br />

                        <div><span class="bold">Race:</span>
                            {{ p.demographic.race.name.replace('_', ' ').title() }}
                        </div>
                        <div><span class="bold">Gender:</span>
                            {{ p.demographic.gender.name.replace('_', ' ').title() }}
                        </div>
                        <div><span class="bold">Age:</span>
                            {{ p.demographic.age }}
                        </div>
                        <div><span class="bold">Gender:</span>
                            {{ 'LGBTQ' if p.demographic.sexual_orientation.name == 'LGBTQ' else p.demographic.sexual_orientation.name.replace('_', ' ').title() }}
                        </div>
                        <div><span class="bold">Class (low, middle, upper, NA):</span>
                            {{ p.demographic.soc_class.name.replace('_', ' ').title() }}
                        </div>

                        <br />

                        <div><span class="bold">Amount donated:</span> <span style="color: green;">${{ p.amount_donated }}</span></div>

                        <br />

                        <div><span class="bold">Notes:</span><br/>
                            {{ p.notes }}
                        </div>
                    </div>
                    <div class="actions">
                        <a href="{{ url_for('admin.edit_participant', part_id=p.id) }}">
                            <div class="ui blue edit button">
                                <i class="edit icon"></i>
                                Edit
                            </div>
                        </a>
                        <div class="ui red button" onclick="$('#delete-{{ p.id }}').modal('show')">
                            <i class="remove icon"></i>
                            Delete
                        </div>
                    </div>
                </div>
                <script>$('#modal-{{ p.id }}').modal({ allowMultiple: true })</script>
                <script>$('#delete-{{ p.id }}').modal({ allowMultiple: true })</script>
                <div style="cursor: pointer;" class="ui horizontal segments" onclick="$('#modal-{{ p.id }}').modal('show')">
                    <div class="participant">
                        <div class="partseg1">
                            {% if not p.status or p.status == Status.PENDING %}
                                <i class="dot circle outline icon" style="color: #FAC334;"></i>
                            {% elif p.status == Status.ASSIGNED %}
                                <i class="check circle outline icon" style="color: #68FF4F;"></i>
                            {% elif p.status == Status.REJECTED %}
                                <i class="times circle outline icon" style="color: #FA3434;"></i>
                            {% endif %}
                        </div>
                        <div class="partseg2">
                            <div class="partname">{{ p.first_name }} {{ p.last_name }}</div>
                            <div class="partterm">{{ p.assigned_term }}</div>
                        </div>
                        <div class="partseg">
                            <div class="partinfo">
                                {{ p.demographic.race.name.replace('_', ' ') }}
                            </div>
                        </div>
                        <div class="partseg">
                            <div class="partinfo">
                                {{ p.demographic.soc_class.name.replace('_', ' ') }}
                            </div>
                        </div>
                        <div class="partseg">
                            <div class="partinfo">
                                {{ p.demographic.age }} yr old
                            </div>
                        </div>
                        <div class="partseg">
                            <div class="partinfo">
                                {{ p.demographic.gender.name.replace('_', ' ') }}
                            </div>
                        </div>
                        <div class="partseg">
                            <div class="partinfo">
                                {{ p.demographic.sexual_orientation.name.replace('_', ' ') }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
          $('#search-participants').keyup(function () {
              var searchText = $(this).val();
              if (searchText.length > 0) {
                  $('.participant:icontains(' + searchText + ')').addClass('positive');
                  $('.participant.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                  $('.participant').not(':icontains(' + searchText + ')').closest('div').addClass('hidden').hide();
                  $('div.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
              } else {
                  $('.participant.positive').removeClass('positive');
                  $('div.hidden').removeClass('hidden').show();
              }
            });

            // $('#select-role').dropdown({
            //     onChange: function (value, text, $selectedItem) {
            //         $('td.user.role:contains(' + value + ')').closest('tr').removeClass('hidden').show();
            //         $('td.user.role').not(':contains(' + value + ')').closest('tr').addClass('hidden').hide();
            //     }
            // });
        });

    </script>
{% endblock %}
