{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}

{% set endpoints = [
    ('account.manage', 'Profile information'),
    ('account.change_email_request', 'Change email address'),
    ('account.change_password', 'Change password'),
    ('account.phone_number', 'Change phone number'),
    ('account.logout', 'Log out')
] %}

{% macro navigation(items) %}
    <div class="ui vertical fluid secondary menu">
        {% for route, name in items %}
            {% set href = url_for(route) %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ href }}">
                {{ name }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                Edit Profile Information
                <div class="sub header">Manage your account settings and change your login information.</div>
            </h2>
        </div>
        <div class="stretched divided very relaxed row">
            {{ navigation(endpoints) }}
        </div>
    </div>
    {{ check.password_check('new_password', 0) }}
{% endblock %}
