{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui container donor-header">
      <div class="ui grid">
        <div class="eight wide centered column donor-header-search">
          <a href="{{ url_for('participant.new_donor') }}" class="ui left labeled icon button">
            New Donor
            <i class="plus icon"></i>
          </a>
          <div class="ui fluid left icon input" >
            <input type="text" placeholder="Search">
            <i class="search icon"></i>
          </div>
        </div>
      </div>

      {% set todo = donors_by_status[Status.TODO.name] %}
      {% set asking = donors_by_status[Status.ASKING.name] %}
      {% set pledged = donors_by_status[Status.PLEDGED.name] %}
      {% set completed = donors_by_status[Status.COMPLETED.name] %}
      <div class="ui four column grid">
        <div class="column custom-center">
          TODO: {{ todo | length }} <i class="chevron down icon"></i>
        </div>
        <div class="column custom-center">
          ASKING: {{ asking | length }} <i class="chevron down icon"></i>
        </div>
        <div class="column custom-center">
          PLEDGED: {{ pledged | length }} <i class="chevron down icon"></i>
        </div>
        <div class="column custom-center">
          COMPLETED: {{ completed | length }} <i class="chevron down icon"></i>
        </div>
      </div>
    </div>
    <div class="ui four column grid container">
      <div class="column">
      </div>

      <div class="column">
      </div>

      <div class="column">
      </div>

      <div class="column">
      </div>
    </div>
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            <h2 class="ui header">
                Donor Management
                <div class="sub header">
                    View and manage your donors.
                </div>
            </h2>

            <div class="ui menu">
                <div id="select-role" class="ui dropdown item">
                    <div class="text">
                        All account types
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value="">All statuses</div>
                    </div>
                </div>
                <div class="ui right search item">
                    <div class="ui transparent icon input">
                        <input id="search-donors" type="text" placeholder="Search donors…">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>

            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th>First name</th>
                            <th class="sorted ascending">Last name</th>
                            <th>Email address</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for d in donors | sort(attribute='last_name') %}
                        <tr onclick="window.location.href = ''">

                            <td>{{ d.first_name }}</td>
                            <td>{{ d.last_name }}</td>
                            <td>{{ d.email }}</td>
                            <td>{{ d.status.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#search-donors').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });

            $('#select-role').dropdown({
                onChange: function (value, text, $selectedItem) {
                    $('td.user.role:contains(' + value + ')').closest('tr').removeClass('hidden').show();
                    $('td.user.role').not(':contains(' + value + ')').closest('tr').addClass('hidden').hide();
                }
            });
        });
    </script>
{% endblock %}
