{% set flashes = {
    'error':   get_flashed_messages(category_filter=['form-error']),
    'warning': get_flashed_messages(category_filter=['form-check-email']),
    'info':    get_flashed_messages(category_filter=['form-info']),
    'success': get_flashed_messages(category_filter=['form-success'])
} %}

{% extends 'layouts/base.html' %}

{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="ui container donor-header">
      <div class="ui grid">
        {% if current_user.id != user.id %}
        <div class="eight wide centered row">
          <h3>viewing as {{ user.first_name }} {{ user.last_name }}</h3>
        </div>
        {% endif %}
        <div class="eight wide centered column donor-header-search">
          <a href="{{ url_for('participant.new_donor', part_id=part_id) }}" class="ui left labeled icon button">
            New Donor
            <i class="plus icon"></i>
          </a>
          <div class="ui fluid left icon input" >
            <input type="text" placeholder="Search">
            <i class="search icon"></i>
          </div>
        </div>
      </div>

      {% set todo = donors_by_status[Status.TODO.name] %}
      {% set asking = donors_by_status[Status.ASKING.name] %}
      {% set pledged = donors_by_status[Status.PLEDGED.name] %}
      {% set completed = donors_by_status[Status.COMPLETED.name] %}
      <div class="ui four column grid container">
        <div class="column custom-center">
          TODO: {{ todo | length }} <i class="chevron down icon"></i>
        </div>
        <div class="column custom-center">
          ASKING: {{ asking | length }} <i class="chevron down icon"></i>
        </div>
        <div class="column custom-center">
          PLEDGED: {{ pledged | length }} <i class="chevron down icon"></i>
        </div>
        <div class="column custom-center">
          COMPLETED: {{ completed | length }} <i class="chevron down icon"></i>
        </div>
      </div>
    </div>
    <div class="ui four column grid container" style="padding-top: 20px">
      <div class="column">



        {% for d_id in forms_by_donor %}
            {% set form=forms_by_donor[d_id] %}
            <div class="ui small modal" id="move-{{ d_id }}">
                <i class="close icon"></i>
                    <div class="ui header">
                      {{ form.header }}
                    </div>
                  <div class="content">
                {{ f.begin_form(form, flashes, 'POST', '', None, form.action) }}
                    {{ f.render_form_field(form.donor) }}
                    {{ f.render_form_field(form.status) }}

                    {% for field in form.fields %}
                      {{ f.render_form_field(field) }}
                    {% endfor %}

                        {% for field in form | selectattr('type', 'equalto', 'SubmitField') %}
                            {{ f.render_form_field(field) }}
                        {% endfor %}
                {{ f.end_form() }}
                  </div>
                  <div class="actions">
                      <div class="ui cancel button">
                          <i class="arrow alternate circle left outline icon"></i>
                          Cancel
                      </div>
                  </div>
            </div>
            <script>$('#move-{{ d_id }}').modal({ allowMultiple: true })</script>
        {% endfor %}




        {% for d in todo | sort(attribute='last_name') %}
                  <div class="ui mini modal" id="delete-{{ d.id }}">
                      <div class="ui header">
                          Warning!
                      </div>
                      <div class="content">
                          <p>This action is irreversible! Are you sure you want to delete {{ d.first_name }} {{ d.last_name }}?</p>
                      </div>
                      <div class="actions">
                          <div class="ui blue cancel button">
                              <i class="arrow alternate circle left outline icon"></i>
                              No, cancel!
                          </div>
                          <a href="{{ url_for('participant.delete_donor', donor_id=d.id, part_id=part_id) }}">
                              <div class="ui red ok button">
                                  <i class="trash alternate icon"></i>
                                  Yes, delete {{ d.first_name }}
                              </div>
                          </a>
                      </div>
                  </div>
                  <div class="ui small modal" id="modal-{{ d.id }}">
                      <i class="close icon"></i>
                      <div class="header">
                          {{ d.first_name }} {{ d.last_name }}
                      </div>
                      <div class="content">
                          <div><span class="bold">Status:</span> {{ d.status.name.title() }}</div>

                          <br/>
                          <div><span class="bold">Date of contact:</span> {{ datestring_alt(d.contact_date) }}</div>
                          <div><span class="bold">Date received:</span> N/A </div>

                          <div class="ui divider"></div>

                          <div><span class="bold">Email:</span> {{ d.email }}</div>
                          <div><span class="bold">Phone:</span> {{ d.phone_number }}</div>
                          <div><span class="bold">Street Address:</span> {{ d.street_address }}, {{ d.city }}, {{ d.state }} {{ d.zip_code}} </div>

                          <div class="ui divider"></div>

                          <div><span class="bold">Race:</span>
                              {{ d.demographic.race.name.replace('_', ' ').title() }}
                          </div>
                          <div><span class="bold">Gender:</span>
                              {{ d.demographic.gender.name.replace('_', ' ').title() }}
                          </div>
                          <div><span class="bold">Age:</span>
                              {{ d.demographic.age }}
                          </div>
                          <div><span class="bold">Class (low, middle, upper, NA):</span>
                              {{ d.demographic.soc_class.name.replace('_', ' ').title() }}
                          </div>

                          <div class="ui divider"></div>

                          <div><span class="bold">Interested in joining a future Giving Project:</span>
                              {{ 'Yes' if d.interested_in_future_gp else 'No' }}
                          </div>

                          <div><span class="bold">Want to learn about BRF guarantees:</span>
                              {{ 'Yes' if d.want_to_learn_about_brf_guarantees else 'No' }}
                          </div>

                          <div><span class="bold">Interested in volunteering with BRF:</span>
                              {{ 'Yes' if d.interested_in_volunteering else 'No' }}
                          </div>


                          <br/>
                          <div><span class="bold">Notes:</span><br/>
                              {{ d.notes }}
                          </div>
                      </div>
                      <div class="actions">
                          <a href="{{ url_for('participant.edit_donor', donor_id=d.id, part_id=part_id) }}" class="ui blue edit button">
                              <i class="edit icon"></i>
                              Edit
                          </a>
                          <div class="ui red button" onclick="$('#delete-{{ d.id }}').modal('show')">
                              <i class="remove icon"></i>
                              Delete
                          </div>
                      </div>
                  </div>
                  <script>$('#modal-{{ d.id }}').modal({ allowMultiple: true })</script>
                  <script>$('#delete-{{ d.id }}').modal({ allowMultiple: true })</script>
                  <div class="ui card" style="cursor: pointer;">
                    <div class="content" onclick="$('#modal-{{ d.id }}').modal('show')" >
                      <i class="right floated user icon"></i>
                      <div class="header">{{d.first_name}} {{d.last_name}}</div>
                      <div class="description">
                        <p></p>
                      </div>
                    </div>
                    <div class="extra content" onclick="$('#modal-{{ d.id }}').modal('show')" >
                      <span class="right floated content">
                        Added on {{datestring(d.contact_date)}}
                      </span>
                      </div>
                      <div class="ui bottom attached red button" onclick="$('#move-{{ d.id }}').modal('show')">
                        <i class="arrow right icon"></i>
                        Move to asking
                      </div>
                  </div>
        {% endfor %}

      </div>

      <div class="column">
        {% for d in asking | sort(attribute='last_name') %}
                  <div class="ui mini modal" id="delete-{{ d.id }}">
                      <div class="ui header">
                          Warning!
                      </div>
                      <div class="content">
                          <p>This action is irreversible! Are you sure you want to delete {{ d.first_name }} {{ d.last_name }}?</p>
                      </div>
                      <div class="actions">
                          <div class="ui blue cancel button">
                              <i class="arrow alternate circle left outline icon"></i>
                              No, cancel!
                          </div>
                          <a href="{{ url_for('participant.delete_donor', donor_id=d.id, part_id=part_id) }}">
                              <div class="ui red ok button">
                                  <i class="trash alternate icon"></i>
                                  Yes, delete {{ d.first_name }}
                              </div>
                          </a>
                      </div>
                  </div>
                  <div class="ui small modal" id="modal-{{ d.id }}">
                      <i class="close icon"></i>
                      <div class="header">
                          {{ d.first_name }} {{ d.last_name }}
                      </div>
                      <div class="content">
                          <div><span class="bold">Status:</span> {{ d.status.name.title() }}</div>
                          <br/>
                          <div><span class="bold">Amount asking for:</span> {{ d.amount_asking_for }}</div>
                          <div><span class="bold">How will you ask:</span> {{ d.how_asking }}</div>
                          <div><span class="bold">Date asking:</span> {{ d.date_asking }}</div>

                          <br/>
                          <div><span class="bold">Date of contact:</span> {{ datestring_alt(d.contact_date) }}</div>
                          <div><span class="bold">Date received:</span> N/A </div>

                          <div class="ui divider"></div>

                          <div><span class="bold">Email:</span> {{ d.email }}</div>
                          <div><span class="bold">Phone:</span> {{ d.phone_number }}</div>
                          <div><span class="bold">Street Address:</span> {{ d.street_address }}, {{ d.city }}, {{ d.state }} {{ d.zip_code}} </div>

                          <div class="ui divider"></div>

                          <div><span class="bold">Race:</span>
                              {{ d.demographic.race.name.replace('_', ' ').title() }}
                          </div>
                          <div><span class="bold">Gender:</span>
                              {{ d.demographic.gender.name.replace('_', ' ').title() }}
                          </div>
                          <div><span class="bold">Age:</span>
                              {{ d.demographic.age }}
                          </div>
                          <div><span class="bold">Class (low, middle, upper, NA):</span>
                              {{ d.demographic.soc_class.name.replace('_', ' ').title() }}
                          </div>

                          <div class="ui divider"></div>

                          <div><span class="bold">Interested in joining a future Giving Project:</span>
                              {{ 'Yes' if d.interested_in_future_gp else 'No' }}
                          </div>

                          <div><span class="bold">Want to learn about BRF guarantees:</span>
                              {{ 'Yes' if d.want_to_learn_about_brf_guarantees else 'No' }}
                          </div>

                          <div><span class="bold">Interested in volunteering with BRF:</span>
                              {{ 'Yes' if d.interested_in_volunteering else 'No' }}
                          </div>


                          <br/>
                          <div><span class="bold">Notes:</span><br/>
                              {{ d.notes }}
                          </div>
                      </div>
                      <div class="actions">
                          <a href="{{ url_for('participant.edit_donor', donor_id=d.id, part_id=part_id) }}" class="ui blue edit button">
                              <i class="edit icon"></i>
                              Edit
                          </a>
                          <div class="ui red button" onclick="$('#delete-{{ d.id }}').modal('show')">
                              <i class="remove icon"></i>
                              Delete
                          </div>
                      </div>
                  </div>
                  <script>$('#modal-{{ d.id }}').modal({ allowMultiple: true })</script>
                  <script>$('#delete-{{ d.id }}').modal({ allowMultiple: true })</script>
                  <div class="ui card" style="cursor: pointer;">
          <div class="content" onclick="$('#modal-{{ d.id }}').modal('show')" >
            <i class="right floated question icon" style="color: orange;"></i>
            <div class="header">{{d.first_name}} {{d.last_name}}</div>
            <div class="description">
              <p>Asking for {{d.amount_asking_for}}</p>
            </div>
          </div>
          <div class="extra content" onclick="$('#modal-{{ d.id }}').modal('show')" >
            <span class="right floated content">
              Ask by {{datestring(d.date_asking)}}
            </span>
          </div>
                      <div class="ui bottom attached red button" onclick="$('#move-{{ d.id }}').modal('show')">
                        <i class="arrow right icon"></i>
                        Move to pledged
                      </div>
        </div>
        {% endfor %}
      </div>

      <div class="column">
        {% for d in pledged | sort(attribute='last_name') %}
                  <div class="ui mini modal" id="delete-{{ d.id }}">
                      <div class="ui header">
                          Warning!
                      </div>
                      <div class="content">
                          <p>This action is irreversible! Are you sure you want to delete {{ d.first_name }} {{ d.last_name }}?</p>
                      </div>
                      <div class="actions">
                          <div class="ui blue cancel button">
                              <i class="arrow alternate circle left outline icon"></i>
                              No, cancel!
                          </div>
                          <a href="{{ url_for('participant.delete_donor', donor_id=d.id, part_id=part_id) }}">
                              <div class="ui red ok button">
                                  <i class="trash alternate icon"></i>
                                  Yes, delete {{ d.first_name }}
                              </div>
                          </a>
                      </div>
                  </div>
                  <div class="ui small modal" id="modal-{{ d.id }}">
                      <i class="close icon"></i>
                      <div class="header">
                          {{ d.first_name }} {{ d.last_name }}
                      </div>
                      <div class="content">
                          <div><span class="bold">Status:</span> {{ d.status.name.title() }}</div>
                          <div><span class="bold">Amount asked:</span> ${{ d.amount_asking_for }}</div>
                          <div><span class="bold">Date asked:</span> {{ d.date_asking }}</div>

                          {% if d.pledged %}
                          <div><span class="bold">Pledged?</span> Yes</div>
                          <div><span class="bold">Amount pledged:</span> ${{ d.amount_pledged }}</div>
                          {% else %}
                          <div><span class="bold">Pledged?</span> <span class="color: red;">No</span></div>
                          {% endif %}

                          <div><span class="bold">Amount amount received by BRF:</span> ${{ d.amount_received }}</div>

                          <br/>
                          <div><span class="bold">Date of contact:</span> {{ datestring_alt(d.contact_date) }}</div>
                          <div><span class="bold">Date received:</span> N/A </div>

                          <div class="ui divider"></div>

                          <div><span class="bold">Email:</span> {{ d.email }}</div>
                          <div><span class="bold">Phone:</span> {{ d.phone_number }}</div>
                          <div><span class="bold">Street Address:</span> {{ d.street_address }}, {{ d.city }}, {{ d.state }} {{ d.zip_code}} </div>

                          <div class="ui divider"></div>

                          <div><span class="bold">Race:</span>
                              {{ d.demographic.race.name.replace('_', ' ').title() }}
                          </div>
                          <div><span class="bold">Gender:</span>
                              {{ d.demographic.gender.name.replace('_', ' ').title() }}
                          </div>
                          <div><span class="bold">Age:</span>
                              {{ d.demographic.age }}
                          </div>
                          <div><span class="bold">Class (low, middle, upper, NA):</span>
                              {{ d.demographic.soc_class.name.replace('_', ' ').title() }}
                          </div>

                          <div class="ui divider"></div>

                          <div><span class="bold">Interested in joining a future Giving Project:</span>
                              {{ 'Yes' if d.interested_in_future_gp else 'No' }}
                          </div>

                          <div><span class="bold">Want to learn about BRF guarantees:</span>
                              {{ 'Yes' if d.want_to_learn_about_brf_guarantees else 'No' }}
                          </div>

                          <div><span class="bold">Interested in volunteering with BRF:</span>
                              {{ 'Yes' if d.interested_in_volunteering else 'No' }}
                          </div>


                          <br/>
                          <div><span class="bold">Notes:</span><br/>
                              {{ d.notes }}
                          </div>
                      </div>
                      <div class="actions">
                          <a href="{{ url_for('participant.edit_donor', donor_id=d.id, part_id=part_id) }}" class="ui blue edit button">
                              <i class="edit icon"></i>
                              Edit
                          </a>
                          <div class="ui red button" onclick="$('#delete-{{ d.id }}').modal('show')">
                              <i class="remove icon"></i>
                              Delete
                          </div>
                      </div>
                  </div>
                  <script>$('#modal-{{ d.id }}').modal({ allowMultiple: true })</script>
                  <script>$('#delete-{{ d.id }}').modal({ allowMultiple: true })</script>
                  <div class="ui card" style="cursor: pointer;">
          <div class="content" onclick="$('#modal-{{ d.id }}').modal('show')" >
          <i class="right floated exclamation flag icon" style="color: {% if d.pledged %}green{% else %}red{% endif %}"></i>
            <div class="header">{{d.first_name}} {{d.last_name}}</div>
            <div class="description">
              {% if d.pledged %}
              <p>Pledged ${{d.amount_pledged}}</p>
              {% else %}
              <p>Did not pledge</p>
              {% endif %}
            </div>
          </div>
          <div class="extra content" onclick="$('#modal-{{ d.id }}').modal('show')" >
            <span class="right floated content">
              Asked on {{datestring(d.date_asking)}}
            </span>
          </div>
          {% if current_user.is_admin() %}
                      <div class="ui bottom attached red button" onclick="$('#move-{{ d.id }}').modal('show')">
                        <i class="arrow right icon"></i>
                        Move to completed
                      </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>

      <div class="column">
        {% for d in completed | sort(attribute='last_name') %}
                  <div class="ui mini modal" id="delete-{{ d.id }}">
                      <div class="ui header">
                          Warning!
                      </div>
                      <div class="content">
                          <p>This action is irreversible! Are you sure you want to delete {{ d.first_name }} {{ d.last_name }}?</p>
                      </div>
                      <div class="actions">
                          <div class="ui blue cancel button">
                              <i class="arrow alternate circle left outline icon"></i>
                              No, cancel!
                          </div>
                          <a href="{{ url_for('participant.delete_donor', donor_id=d.id, part_id=part_id) }}">
                              <div class="ui red ok button">
                                  <i class="trash alternate icon"></i>
                                  Yes, delete {{ d.first_name }}
                              </div>
                          </a>
                      </div>
                  </div>
                  <div class="ui small modal" id="modal-{{ d.id }}">
                      <i class="close icon"></i>
                      <div class="header">
                          {{ d.first_name }} {{ d.last_name }}
                      </div>
                      <div class="content">
                          <div><span class="bold">Status:</span> {{ d.status.name.title() }}</div>
                          <div><span class="bold">Amount asked:</span> ${{ d.amount_asking_for }}</div>
                          <div><span class="bold">Date asked:</span> {{ d.date_asking }}</div>

                          <div><span class="bold">Amount pledged:</span> ${{ d.amount_pledged }}</div>
                          <div><span class="bold">Amount amount received by BRF:</span> ${{ d.amount_received }}</div>

                          <br/>
                          <div><span class="bold">Date of contact:</span> {{ datestring_alt(d.contact_date) }}</div>
                          <div><span class="bold">Date received:</span> N/A </div>

                          <div class="ui divider"></div>

                          <div><span class="bold">Email:</span> {{ d.email }}</div>
                          <div><span class="bold">Phone:</span> {{ d.phone_number }}</div>
                          <div><span class="bold">Street Address:</span> {{ d.street_address }}, {{ d.city }}, {{ d.state }} {{ d.zip_code}} </div>

                          <div class="ui divider"></div>

                          <div><span class="bold">Race:</span>
                              {{ d.demographic.race.name.replace('_', ' ').title() }}
                          </div>
                          <div><span class="bold">Gender:</span>
                              {{ d.demographic.gender.name.replace('_', ' ').title() }}
                          </div>
                          <div><span class="bold">Age:</span>
                              {{ d.demographic.age }}
                          </div>
                          <div><span class="bold">Class (low, middle, upper, NA):</span>
                              {{ d.demographic.soc_class.name.replace('_', ' ').title() }}
                          </div>

                          <div class="ui divider"></div>

                          <div><span class="bold">Interested in joining a future Giving Project:</span>
                              {{ 'Yes' if d.interested_in_future_gp else 'No' }}
                          </div>

                          <div><span class="bold">Want to learn about BRF guarantees:</span>
                              {{ 'Yes' if d.want_to_learn_about_brf_guarantees else 'No' }}
                          </div>

                          <div><span class="bold">Interested in volunteering with BRF:</span>
                              {{ 'Yes' if d.interested_in_volunteering else 'No' }}
                          </div>


                          <br/>
                          <div><span class="bold">Notes:</span><br/>
                              {{ d.notes }}
                          </div>
                      </div>
                      <div class="actions">
                          <a href="{{ url_for('participant.edit_donor', donor_id=d.id, part_id=part_id) }}" class="ui blue edit button">
                              <i class="edit icon"></i>
                              Edit
                          </a>
                          <div class="ui red button" onclick="$('#delete-{{ d.id }}').modal('show')">
                              <i class="remove icon"></i>
                              Delete
                          </div>
                      </div>
                  </div>
                  <script>$('#modal-{{ d.id }}').modal({ allowMultiple: true })</script>
                  <script>$('#delete-{{ d.id }}').modal({ allowMultiple: true })</script>
                  <div class="ui card" style="cursor: pointer;">
          <div class="content" onclick="$('#modal-{{ d.id }}').modal('show')" >
            <i class="right floated money bill alternate icon" style="color: green;"></i>
            <div class="header">{{d.first_name}} {{d.last_name}}</div>
            <div class="description">
              <p>${{d.amount_received}} received by BNR</p>
            </div>
          </div>
          <div class="extra content" onclick="$('#modal-{{ d.id }}').modal('show')" >
            <span class="right floated content">
              Completed on {{datestring(d.date_received)}}
            </span>
          </div>
          {% if current_user.is_admin() %}
                      <div class="ui bottom attached red button" onclick="$('#move-{{ d.id }}').modal('show')">
                        <i class="edit icon"></i>
                        Update amount
                      </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#search-donors').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });

            $('#select-role').dropdown({
                onChange: function (value, text, $selectedItem) {
                    $('td.user.role:contains(' + value + ')').closest('tr').removeClass('hidden').show();
                    $('td.user.role').not(':contains(' + value + ')').closest('tr').addClass('hidden').hide();
                }
            });
        });
    </script>
{% endblock %}
